body {
  background-color: black;
}

.story {
  margin: auto;
  width: 100%;
  text-align: center;
  margin-top: 20%;
}

button {
  position: absolute;
  top: 2%;
  right: 20%;
  background-color: black;
  border: none;
  outline: none;
  text-align: right;
}

